_Project/P0011_Intercom/w2.WebService.P0011_Intercom.w2Test/Service References/Test_W2_WebSrv/w2Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="w2Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://103.3.48.132/Test/P0011_Intercom/_WebService/w2Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://103.3.48.132/Test/P0011_Intercom/_WebService/w2Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://103.3.48.132/Test/P0011_Intercom/_WebService/w2Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iw2Service_UserSyncExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSyncExecute" />
  </wsdl:message>
  <wsdl:message name="Iw2Service_UserSyncExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSyncExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="Iw2Service_CreateOnetimePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOnetimePassword" />
  </wsdl:message>
  <wsdl:message name="Iw2Service_CreateOnetimePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOnetimePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="Iw2Service">
    <wsdl:operation name="UserSyncExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/Iw2Service/UserSyncExecute" message="tns:Iw2Service_UserSyncExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iw2Service/UserSyncExecuteResponse" message="tns:Iw2Service_UserSyncExecute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOnetimePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/Iw2Service/CreateOnetimePassword" message="tns:Iw2Service_CreateOnetimePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iw2Service/CreateOnetimePasswordResponse" message="tns:Iw2Service_CreateOnetimePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iw2Service" type="tns:Iw2Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserSyncExecute">
      <soap:operation soapAction="http://tempuri.org/Iw2Service/UserSyncExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOnetimePassword">
      <soap:operation soapAction="http://tempuri.org/Iw2Service/CreateOnetimePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="w2Service">
    <wsdl:port name="BasicHttpBinding_Iw2Service" binding="tns:BasicHttpBinding_Iw2Service">
      <soap:address location="http://103.3.48.132/Test/P0011_Intercom/_WebService/w2Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>