_Project/P0011_Intercom/w2.WebService.P0011_Intercom.w2Test/Web References/localhost/w2Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSyncExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSyncExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserSyncExecuteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOnetimePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateOnetimePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateOnetimePasswordResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestMethodSoapIn">
    <wsdl:part name="parameters" element="tns:TestMethod" />
  </wsdl:message>
  <wsdl:message name="TestMethodSoapOut">
    <wsdl:part name="parameters" element="tns:TestMethodResponse" />
  </wsdl:message>
  <wsdl:message name="UserSyncExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:UserSyncExecute" />
  </wsdl:message>
  <wsdl:message name="UserSyncExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:UserSyncExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="CreateOnetimePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CreateOnetimePassword" />
  </wsdl:message>
  <wsdl:message name="CreateOnetimePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CreateOnetimePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="w2ServiceSoap">
    <wsdl:operation name="TestMethod">
      <wsdl:input message="tns:TestMethodSoapIn" />
      <wsdl:output message="tns:TestMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserSyncExecute">
      <wsdl:input message="tns:UserSyncExecuteSoapIn" />
      <wsdl:output message="tns:UserSyncExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateOnetimePassword">
      <wsdl:input message="tns:CreateOnetimePasswordSoapIn" />
      <wsdl:output message="tns:CreateOnetimePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="w2ServiceSoap" type="tns:w2ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestMethod">
      <soap:operation soapAction="http://tempuri.org/TestMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSyncExecute">
      <soap:operation soapAction="http://tempuri.org/UserSyncExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOnetimePassword">
      <soap:operation soapAction="http://tempuri.org/CreateOnetimePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="w2ServiceSoap12" type="tns:w2ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestMethod">
      <soap12:operation soapAction="http://tempuri.org/TestMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSyncExecute">
      <soap12:operation soapAction="http://tempuri.org/UserSyncExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOnetimePassword">
      <soap12:operation soapAction="http://tempuri.org/CreateOnetimePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="w2Service">
    <wsdl:port name="w2ServiceSoap" binding="tns:w2ServiceSoap">
      <soap:address location="http://localhost/P0011_Intercom/PrecompiledWebService/w2Service.asmx" />
    </wsdl:port>
    <wsdl:port name="w2ServiceSoap12" binding="tns:w2ServiceSoap12">
      <soap12:address location="http://localhost/P0011_Intercom/PrecompiledWebService/w2Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>