_Project/P0011_Intercom/w2.WebService.P0011_Intercom.w2Test/Service References/IcRef/IntercomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntercomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/w2Plugin.P0011_Intercom.WebService.TestIC/IntercomService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/w2Plugin.P0011_Intercom.WebService.TestIC/IntercomService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/w2Plugin.P0011_Intercom.WebService.TestIC/IntercomService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntercomService_SyncUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncUserData" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_SyncUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_SerialDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:SerialDelete" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_SerialDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:SerialDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_SerialCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SerialCheck" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_SerialCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SerialCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_GetUserRecommendData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecommendData" />
  </wsdl:message>
  <wsdl:message name="IIntercomService_GetUserRecommendData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecommendDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntercomService">
    <wsdl:operation name="SyncUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntercomService/SyncUserData" message="tns:IIntercomService_SyncUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntercomService/SyncUserDataResponse" message="tns:IIntercomService_SyncUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SerialDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntercomService/SerialDelete" message="tns:IIntercomService_SerialDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntercomService/SerialDeleteResponse" message="tns:IIntercomService_SerialDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SerialCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntercomService/SerialCheck" message="tns:IIntercomService_SerialCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntercomService/SerialCheckResponse" message="tns:IIntercomService_SerialCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecommendData">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntercomService/GetUserRecommendData" message="tns:IIntercomService_GetUserRecommendData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntercomService/GetUserRecommendDataResponse" message="tns:IIntercomService_GetUserRecommendData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntercomService" type="tns:IIntercomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncUserData">
      <soap:operation soapAction="http://tempuri.org/IIntercomService/SyncUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerialDelete">
      <soap:operation soapAction="http://tempuri.org/IIntercomService/SerialDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerialCheck">
      <soap:operation soapAction="http://tempuri.org/IIntercomService/SerialCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecommendData">
      <soap:operation soapAction="http://tempuri.org/IIntercomService/GetUserRecommendData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntercomService">
    <wsdl:port name="BasicHttpBinding_IIntercomService" binding="tns:BasicHttpBinding_IIntercomService">
      <soap:address location="http://localhost/w2Plugin.P0011_Intercom.WebService.TestIC/IntercomService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>