_Plugins/P0011_Intercom/w2.Plugin.P0011_Intercom.ReSync/Web References/Intercom_User/w2iUserSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserSync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserSyncResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserSyncSoapIn">
    <wsdl:part name="parameters" element="tns:UserSync" />
  </wsdl:message>
  <wsdl:message name="UserSyncSoapOut">
    <wsdl:part name="parameters" element="tns:UserSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="w2iUserSyncServiceSoap">
    <wsdl:operation name="UserSync">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">会員情報の同期ラッパー</wsdl:documentation>
      <wsdl:input message="tns:UserSyncSoapIn" />
      <wsdl:output message="tns:UserSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="w2iUserSyncServiceSoap" type="tns:w2iUserSyncServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserSync">
      <soap:operation soapAction="http://tempuri.org/UserSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="w2iUserSyncServiceSoap12" type="tns:w2iUserSyncServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserSync">
      <soap12:operation soapAction="http://tempuri.org/UserSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="w2iUserSyncService">
    <wsdl:port name="w2iUserSyncServiceSoap" binding="tns:w2iUserSyncServiceSoap">
      <soap:address location="https://reddragon.intercom.co.jp/iw2WebService/w2iUserSyncService.asmx" />
    </wsdl:port>
    <wsdl:port name="w2iUserSyncServiceSoap12" binding="tns:w2iUserSyncServiceSoap12">
      <soap12:address location="https://reddragon.intercom.co.jp/iw2WebService/w2iUserSyncService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>