_Plugins/P0011_Intercom/w2.Plugin.P0011_Intercom/Web References/Intercom_Event/RecommendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventProductResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthSerialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSerialOverall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSerialOverallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthSerialOverallResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsumeSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsumeSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsumeSerialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumeSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumeSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsumeSerialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteConsumedSerial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prmDataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteConsumedSerialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteConsumedSerialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="GetEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventProductSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventProduct" />
  </wsdl:message>
  <wsdl:message name="GetEventProductSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventProductResponse" />
  </wsdl:message>
  <wsdl:message name="AuthSerialSoapIn">
    <wsdl:part name="parameters" element="tns:AuthSerial" />
  </wsdl:message>
  <wsdl:message name="AuthSerialSoapOut">
    <wsdl:part name="parameters" element="tns:AuthSerialResponse" />
  </wsdl:message>
  <wsdl:message name="AuthSerialOverallSoapIn">
    <wsdl:part name="parameters" element="tns:AuthSerialOverall" />
  </wsdl:message>
  <wsdl:message name="AuthSerialOverallSoapOut">
    <wsdl:part name="parameters" element="tns:AuthSerialOverallResponse" />
  </wsdl:message>
  <wsdl:message name="ConsumeSerialSoapIn">
    <wsdl:part name="parameters" element="tns:ConsumeSerial" />
  </wsdl:message>
  <wsdl:message name="ConsumeSerialSoapOut">
    <wsdl:part name="parameters" element="tns:ConsumeSerialResponse" />
  </wsdl:message>
  <wsdl:message name="GetConsumeSerialSoapIn">
    <wsdl:part name="parameters" element="tns:GetConsumeSerial" />
  </wsdl:message>
  <wsdl:message name="GetConsumeSerialSoapOut">
    <wsdl:part name="parameters" element="tns:GetConsumeSerialResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventList" />
  </wsdl:message>
  <wsdl:message name="GetEventListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventListResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteConsumedSerialSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteConsumedSerial" />
  </wsdl:message>
  <wsdl:message name="DeleteConsumedSerialSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteConsumedSerialResponse" />
  </wsdl:message>
  <wsdl:portType name="RecommendServiceSoap">
    <wsdl:operation name="GetEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">合致するレコメンドの取得</wsdl:documentation>
      <wsdl:input message="tns:GetEventSoapIn" />
      <wsdl:output message="tns:GetEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventProduct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">合致するレコメンド商品の取得</wsdl:documentation>
      <wsdl:input message="tns:GetEventProductSoapIn" />
      <wsdl:output message="tns:GetEventProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthSerial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">シリアル検証（カート投入時）</wsdl:documentation>
      <wsdl:input message="tns:AuthSerialSoapIn" />
      <wsdl:output message="tns:AuthSerialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthSerialOverall">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">シリアル検証（決済時）</wsdl:documentation>
      <wsdl:input message="tns:AuthSerialOverallSoapIn" />
      <wsdl:output message="tns:AuthSerialOverallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsumeSerial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">シリアルの消費</wsdl:documentation>
      <wsdl:input message="tns:ConsumeSerialSoapIn" />
      <wsdl:output message="tns:ConsumeSerialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumeSerial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">消費シリアルの取得</wsdl:documentation>
      <wsdl:input message="tns:GetConsumeSerialSoapIn" />
      <wsdl:output message="tns:GetConsumeSerialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">有効なEvent一覧の取得</wsdl:documentation>
      <wsdl:input message="tns:GetEventListSoapIn" />
      <wsdl:output message="tns:GetEventListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConsumedSerial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">消費シリアルの取消</wsdl:documentation>
      <wsdl:input message="tns:DeleteConsumedSerialSoapIn" />
      <wsdl:output message="tns:DeleteConsumedSerialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecommendServiceSoap" type="tns:RecommendServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvent">
      <soap:operation soapAction="http://tempuri.org/GetEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventProduct">
      <soap:operation soapAction="http://tempuri.org/GetEventProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthSerial">
      <soap:operation soapAction="http://tempuri.org/AuthSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthSerialOverall">
      <soap:operation soapAction="http://tempuri.org/AuthSerialOverall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsumeSerial">
      <soap:operation soapAction="http://tempuri.org/ConsumeSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeSerial">
      <soap:operation soapAction="http://tempuri.org/GetConsumeSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventList">
      <soap:operation soapAction="http://tempuri.org/GetEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteConsumedSerial">
      <soap:operation soapAction="http://tempuri.org/DeleteConsumedSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecommendServiceSoap12" type="tns:RecommendServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEvent">
      <soap12:operation soapAction="http://tempuri.org/GetEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventProduct">
      <soap12:operation soapAction="http://tempuri.org/GetEventProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthSerial">
      <soap12:operation soapAction="http://tempuri.org/AuthSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthSerialOverall">
      <soap12:operation soapAction="http://tempuri.org/AuthSerialOverall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsumeSerial">
      <soap12:operation soapAction="http://tempuri.org/ConsumeSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeSerial">
      <soap12:operation soapAction="http://tempuri.org/GetConsumeSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventList">
      <soap12:operation soapAction="http://tempuri.org/GetEventList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteConsumedSerial">
      <soap12:operation soapAction="http://tempuri.org/DeleteConsumedSerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecommendService">
    <wsdl:port name="RecommendServiceSoap" binding="tns:RecommendServiceSoap">
      <soap:address location="http://reddragon.intercom.co.jp/iw2WebService/RecommendService.asmx" />
    </wsdl:port>
    <wsdl:port name="RecommendServiceSoap12" binding="tns:RecommendServiceSoap12">
      <soap12:address location="http://reddragon.intercom.co.jp/iw2WebService/RecommendService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>